:root {
  --md-primary-fg-color: #263a8b;
  --md-primary-fg-color--light: #5266b5;
  --md-primary-fg-color--dark: #17245d;
  --md-accent-fg-color: #536dfe;
}

.md-typeset h1 {
  font-weight: 700;
  letter-spacing: -0.02em;
}

.md-typeset h2 {
  font-weight: 650;
  letter-spacing: -0.01em;
}

.md-typeset table:not([class]) {
  font-size: 0.76rem;
}
